body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("Poker-background-2.jpg");

  height: 100%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-nav {
  top: 0;
}

.logo {
  display: block;
  margin-top: 5vh;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0f663b;
}

.homepage {
  float: left;
}

.admin {
  float: right;
}

.tool {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
  background-color: #064e2a;
}

.account {
  background-color: lightgrey;
  opacity: 80%;
  display: grid;
  width: 25vw;
  padding: 30px;
  margin-top: 7vh;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

input {
  width: 25vw;
}

.label {
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

.button {
  transition-duration: 0.4s;
  /*margin-top: 4em; It's weird, the buttons arent being editted*/
}

.button:hover {
  background-color: rgba(20, 20, 20, 0.89);
  color: white;
}

h1 {
  position: inherit;
  top: 30%;
  font-size: 5vw;
  text-align: center;
  color: aliceblue;
}
