body, html{
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("site-images/Poker-background-2.jpg");
  
    height: 100%;
  
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-height: 500px) {
    .bg {
        height:fit-content;
    }
}

.create-account-nav {
    top: 0;
}

.logo {
    display: block;
    margin-top: 5vh;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0f663b;
}

.homepage {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 3px solid transparent;
    transition: 0.15s;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    li a {
        font-size: 15px;
    }
}

li a:hover {
    background-color: #064e2a;
    border-bottom: 3px solid white; 
}

.createAccount {    
    background-color:lightgrey;
    opacity: 80%;
    display: grid;
    width: 16vw;
    padding: 30px;
    margin-top: 7vh;
    margin-left: auto;
    margin-right: auto;
}

.createAccount > #submission{
    display: grid;
}

input {
    width: 15vw;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    width: 15vw;
}

button:hover {
    background-color: rgba(20, 20, 20, 0.89);
    color: white;
}