body, html{
    height: 100%;
    margin: 0;
}

body {
    background-image: url("site-images/Poker-background-2.jpg");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media only screen and (max-height: 500px) {
    .bg {
        height:fit-content;
    }
}

.login-nav {
    top: 0;
}

.logo {
    display: block;
    margin-top: 5vh;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0f663b;
}

.homepage {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 3px solid transparent;
    transition: 0.15s;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    li a {
        font-size: 15px;
    }
}

li a:hover {
    background-color: #064e2a;
    border-bottom: 3px solid white; 
}

.login {    
    background-color:lightgrey;
    opacity: 80%;
    display: grid;
    width: 15vw;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 13px;
    margin-top: 7vh;
    margin-left: auto;
    margin-right: auto;
}

.login *{
    display: grid;
    padding: 2px;
}

h1 {
    padding-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(65, 65, 65);
}

input {
    width: 14.5vw;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: rgba(20, 20, 20, 0.89);
    color: white;
}