* {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x:hidden;
}
body, html {
    height: 100%;
    margin: 0;
}

[hidden] { display: none !important;}

.poker-tool-nav{
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0f663b;
}

.homepage {
    float: left;
}

.account-settings{
    float: right;
}

.admin-settings {
    float: right;
}

li * {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
    border: 3px solid transparent;
    transition: 0.15s;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    li a {
        font-size: 15px;
    }
}

li *:hover {
    background-color: #064e2a;
    border-bottom: 3px solid white; 
}

.gameHistory{

    justify-content: center;
}

#historySearch {
    width: 100%;
    display: flex;
}

#searchButton {
    display: flex;
    justify-content: center;
}

.middle-content {
    display: flex;
    flex-wrap: wrap;
}

.current-game {
    width: 75%;
    float: left;
    background-image: url("site-images/Poker-background-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 1100px) {
    .middle-content .current-game, .middle-content .prev-games {
        width: 100%;
    }
}

.current-game div{
    display: flex;
    justify-content: center;
}

.game-table {
    position: relative;
}

.table {
    padding: 30px;
    width: 80%;
}

.table-card {
    position: absolute;
    height: 6vw;
    top: 8vw;
}

#flopOne {
    left: 18.5vw;
}

#flopTwo {
    left: 27vw;
}

#turn {
    left: 43vw;
}

#river {
    left: 51vw;
} 

.hand-card {
    position: absolute;
    height: 6vw;
    top: 17vw;
}

#cardOne {
    left: 32vw;
}

#cardTwo {
    left: 38vw;
}

@media only screen and (max-width: 1100px) {
    .table-card {
        position: absolute;
        height: 8vw;
        top: 12vw;
    }
    #flopOne {
        left: 25vw;
    }
    #flopTwo {
        left: 35.5vw;
    }
    #turn {
        left: 56vw;
    }
    #river {
        left: 66.5vw;
    }
    .hand-card {
        height: 8vw;
        top: 25vw;
    }
    #cardOne {
        left: 42vw;
    }
    #cardTwo {
        left: 51vw;
    }
}

@-moz-document url-prefix() {
    .table-card {
        position: absolute;
        height: 6vw;
        top: 8vw;
    }

    #flopOne{
        left: 14vw;
    }
    
    #flopTwo {
        left: 22.5vw;
    }
    
    #turn {
        left: 40vw;
    }
    
    #river {
        left: 48.5vw;
    } 
    
    .hand-card {
        position: absolute;
        height: 6vw;
        top: 17vw;
    }
    
    #cardOne {
        left: 28vw;
    }
    
    #cardTwo {
        left: 34.5vw;
    }
    
    @media only screen and (max-width: 1100px) {
        .table-card {
            height: 8vw;
            top: 15vw;
        }
        #flopOne {
            left: 0px;
        }
        #flopTwo {
            left: 12vw;
        }
        #turn {
            left: 35.5vw;
        }
        #river {
            left: 47.5vw;
        }
        .hand-card {
            height: 8vw;
            top: 25vw;
        }
        #cardOne {
            left: 19vw;
        }
        #cardTwo {
            left: 28vw;
        }
    }
}

.current-game .cards {
    background-color: #e2e2e2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

@media only screen and (max-width: 900px) {
    #endGameBtn {
        width: 200px;
    }
    .cards div{
        padding: 10px;
        display: grid;
    }
}

.cards div button {
    cursor: pointer;
}

.cards div button:hover {
    background-color: rgba(20, 20, 20, 0.89);
    color: white;
}

.prev-games {
    background-color: #c7c7c7;
    width: 25%;
    float: right;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.prev-games div {
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    background-image:linear-gradient(white, lightgrey)
}

.stats-table {
    background-color: #064e2a;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;
    height: 50%;
    background-image:linear-gradient(#0f663b, white)
}

.stats-table div {
    flex: 1 0 25%;
    font-size: 20px;
    padding: 50px 50px;
}