#header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    white-space: nowrap;
    background-color: #0f663b;
}

#logo {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: xx-large;
    text-decoration: none;
    color:white;
}

#login {
    position: absolute;
    top: 5px;
    right: 3%;
    font-size:  xx-large;
    text-decoration: none;
    text-align: right;
    color: white;
}

#account {
    position: absolute;
    top: 5px;
    right: 3%;
    font-size:  xx-large;
    text-decoration: none;
    text-align: right;
    color: white;
}

#visualContainer {
    position: absolute;
    top: 50px;
    left: 0px;
    height: 60%;
    width: 75%;
    float:left;
    background-color: grey;
}

#historyContainer {
    position: absolute;
    top: 50px;
    left: 75%;
    height: 60%;
    width: 25%;
    text-align: center;
    float:right;
    background-color: lightgray;
}

#statsContainer {
    clear:both;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height:auto;
    background-image: linear-gradient(#0f663b, white); 
    overflow-x: scroll;
}

#statsTable{
    width: 100%;
}

#visual {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td {
    font-size: xx-large;
    padding: 50px;
    text-align: center;
    border-bottom: 50px;
}